extends ./commons/sinhvien.common.pug

block content
    .m-4
        .d-flex.flex-wrap.justify-content-between
            a.btn.btn-secondary(href="/sinhvien") Danh sách sinh viên
            a.btn.btn-secondary(href="/sinhvien/bancansulop") Danh sách ban cán sự lớp
            a.btn.btn-secondary(href="/sinhvien/add") Thêm sinh viên
            a.btn.btn-secondary(href="/sinhvien/remove") Bớt sinh viên nghỉ học