extends ./commons/sinhvien.common.pug

block content
    .m-4
        .d-flex.flex-wrap.justify-content-between
            a.btn.btn-secondary.my-2(href="/sinhvien") Danh sách sinh viên
            a.btn.btn-secondary.my-2(href="/sinhvien/bancansulop") Danh sách ban cán sự lớp
            a.btn.btn-secondary.my-2(href="/sinhvien/bancansulop/add") Thêm 1 ban cán sự lớp
            a.btn.btn-secondary.my-2(href="/sinhvien/bancansulop/addJson") Thêm danh sách ban cán sự lớp bằng .json file
            a.btn.btn-secondary.my-2(href="/sinhvien/bancansulop/addXlsx") Thêm danh sách ban cán sự lớp bằng .xlsx file
            a.btn.btn-secondary.my-2(href="/sinhvien/add") Thêm 1 sinh viên
            a.btn.btn-secondary.my-2(href="/sinhvien/addJson") Thêm danh sách sinh viên bằng .json file
            a.btn.btn-secondary.my-2(href="/sinhvien/addXlsx") Thêm danh sách sinh viên bằng .xlsx file
            a.btn.btn-secondary.my-2(href="/sinhvien/remove") Bớt sinh viên nghỉ học